.buton-block {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    transition: .5s;
    border: none;
}

.buton-block:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.button-secondary-block {
    @extend .buton-block;
    border: 1px solid #F2BB16;
    border-radius: 4px;
    background: #fff;
}

.button-primary-block b {
    color: #F2BB16 !important;
}

.button-primary-block {
    @extend .buton-block;
    background-color: #000;
    border-radius: 4px;
}

.button-primary-block b {
    color: #F2BB16 !important;
}

.button-primary-block .MuiCircularProgress-root {
    width: 20px !important;
    height: 20px !important;
    color: #F2BB16 !important;
    float: right !important;
}