@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  font: 400 14px Roboto, sans-serif;
}

input, button, textarea, .MuiInputBase-input {
  font: 400 18px Roboto, sans-serif !important;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #F2BB16;
}

#main {
  flex-grow: 1;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination .Mui-selected {
  background-color: #F2BB16 !important;
  color: #000 !important;
}