#login-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    border: 1px solid #F2BB16;
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

@media (max-width: 600px) {
    .login-container {
        width: 80vw !important;
        padding: 20px !important;
    }
}

.login-container img {
    width: 90%;
}

.login-container span {
    font-size: 1.2rem;
    color: #646464;
    width: 30vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-container .error-message {
    margin-top: 0;
    color: red;
    font-size: 1.1rem;
}

.login-input-container {
    width: 100%;
}

.login-input-container .input-block {
    margin: 10px 0;
}

.login-container .button-secondary-block {
    margin-top: 20px;
}

.login-container .button-primary-block {
    margin-top: 40px;
}

.login-container b {
    color: #646464;
    text-align: right;
    width: 100%;
    margin-top: 5px;
    transition: .5s;
}

.login-container b:hover {
    cursor: pointer;
    filter: brightness(.8);
}