#new-user-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-user-image-photo {
    width: 110px;
    height: 110px;
    border: 2px solid #F2BB16;
    padding: 5px;
    border-radius: 50%;
    margin-top: 15px;
    transition: .5s;
}

.new-user-image-photo:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.new-user-form {
    width: 65vw;
}

.new-user-form .input-block {
    margin: 8px 0;
}

#new-user-content b {
    font-size: 1.2rem;
    color: #646464;
    margin: 12px 0;
    transition: .5s;
}

#new-user-content b:hover {
    cursor: pointer;
    filter: brightness(.8);
}

#new-user-content .button-primary-block {
    margin-top: 10px;
}