#order-container {
    flex-grow: 1;
    margin: 10px 10px 10px 0;
    padding: 8px;
    background: #fff;
    border-radius: 4px;
    overflow: auto;
    // border: 1px solid #898989;
}

.order-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #898989;
    padding: 5px 0;
    border-radius: 4px;
}

.order-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.order-menu-item svg {
    font-size: 1.8rem;
}

.order-menu-item:hover {
    cursor: pointer;
    color: #F2BB16;
}

.order-input-search {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

.order-input-search .input-block {
    margin-right: 10px;
    flex: 2;
}

.order-input-search .input-mask-block {
    flex: 2;
}

.order-input-search .button-primary-block {
    flex: 1;
}

.order-card {
    background-color: #F2BB16;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.order-card-header {
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-subcard {
    background-color: #E5E5E5;
    border-radius: 12px;
    padding: 10px 5px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.order-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 600px) {
    .order-card-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.order-subcard-header {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.order-subcard-content {
    flex-grow: 1;   
}
.order-subcard-footer {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}

.order-modal-edit {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-modal-edit .MuiTableContainer-root{
    height: 50%;
    border: 1px solid #F2BB16;
    border-radius: 4px;
}